<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PAYMENT DECLINED</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="vh-100 d-flex justify-content-center align-items-center">
      <div class="col-md-4">
        <div class="border border-3 border-danger"></div>
        <div class="card bg-white shadow p-5">
          <div class="mb-4 text-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="text-danger"
              width="75"
              height="75"
              fill="currentColor"
              class="bi bi-exclamation-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
              />
              <path
                d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"
              />
            </svg>
          </div>
          <div class="text-center">
            <h1>Thank You !</h1>
            <p>
              We regret to inform you that your recent payment for Prescription Reference ID {} was declined.
              Please update your payment details or contact our customer support
              team at admin@yopmail.com for further assistance.
            </p>
            <button class="btn btn-outline-success">Resend Payment Link</button>
            <button class="btn btn-outline-danger">Exit Session</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
